<!DOCTYPE html>
<html>

<head>
    <title>join multi-lobby | osu! slack</title>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container" style="display: flex; align-items: center; flex-direction: column; gap: 48px;">
        <div
            style="display: flex; justify-content: center; align-items: center; border-radius: 50%; border: 4px solid #FFF; width: 96px; height: 96px;">
            <img src="/static/icons/online.png" width="64px" />
        </div>

        <div style="display: flex; gap: 4px; flex-direction: column; align-items: center;">
            <span style="font-size: 32px;">You're joining an osu! multiplayer lobby.</span>

            <p>The room ID is <strong>
                    <%= code.trim() %>
                </strong>.</p>
        </div>

        <div style="width: 100%; display: flex; justify-content: center;">
            <a class="menu-button" tabindex="0" href="osu://room/<%= code.trim() %>">
                <div class="button-bg" style="background: rgb(238, 51, 153)"></div>
                <div class="button-content">
                    <div class="button-text">Let's do this!</div>
                </div>
            </a>
        </div>
    </div>
</body>
<%- include('partials/buttonScript') %>

</html>