<!DOCTYPE html>
<html>

<head>
    <title>account linking | osu! slack</title>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container" style="display: flex; align-items: center; flex-direction: column; gap: 48px;">
        <img src="/static/icons/check-circle.png" width="96px" />

        <div style="display: flex; gap: 4px; flex-direction: column; align-items: center;">
            <span style="font-size: 32px;">Your Hack Club and osu! accounts have been linked.</span>

            <p>You can now return to Slack.</p>
        </div>

        <div style="width: 100%; display: flex; justify-content: center;">
            <a class="menu-button" tabindex="0" href="https://slack.com/app_redirect?channel=C165V7XT9">
                <div class="button-bg" style="background: rgb(238, 51, 153)"></div>
                <div class="button-content">
                    <div class="button-text">Open Slack</div>
                </div>
            </a>
        </div>
    </div>
</body>
<%- include('partials/buttonScript') %>

</html>