<!doctype html>
<html class="w-full h-full">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="w-full h-full">
    <div
        class="flex items-center justify-center h-full bg-white [--pattern-fg:var(--color-gray-950)]/5 dark:bg-gray-950 dark:[--pattern-fg:var(--color-white)]/10">
        <div class="rounded-xl row-start-3 flex max-w-lg flex-col bg-gray-100 p-2 dark:bg-white/10">
            <div class="rounded-xl bg-white p-10 text-sm/7 text-gray-700 dark:bg-gray-950 dark:text-gray-300">
                <div class="space-y-6">
                    <h1 class="text-lg font-bold">Your Slack and osu! accounts have been linked :D</h1>

                    <p>You can now return to Slack.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>